@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

#root {
  height: 100dvh;
}

:root {
  --main-color: #001957f7;
  --main-color-hover: #001344f7;
  --main-color-disabled: #3f5a9ff7;
  --yellow-color: #c59e00fb;
  --secondMain-color: #fffffffb;
  --primary-color: rgb(63, 125, 250); /* Bootstrap Blue */
  --secondary-color: #6c757d; /* Optional */
  --bodyBackground-color: #dfe1ff; /* Optional */
  --background-color: #ebebeb; /* Light Background */
  --white-color: #ffffff;
  --thirdMain-color: #2e8a00;
}
* {
  font-family: "Poppins", sans-serif;
}
body {
  height: 100dvh;
}

p {
  font-size: clamp(0.7rem, 1.3dvw, 1rem);
}

h2 {
  font-size: clamp(1.5rem, 2dvw, 2.5rem) !important;
}

h3 {
  font-size: clamp(1.2rem, 2dvw, 2.5rem) !important;
}

h4 {
  font-size: clamp(1.5rem, 2dvw, 2rem) !important;
}

h5 {
  font-size: clamp(0.9rem, 1.3dvw, 2rem) !important;
}
