@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

#root {
  height: 100dvh !important;
}

:root {
  --main-color: #001957f7;
  --main-color-hover: #001344f7;
  --main-color-disabled: #3f5a9ff7;
  --yellow-color: #c59e00fb;
  --yellow-color-disabled: #c3b991fb;
  --secondMain-color: #fffffffb;
  --primary-color: rgb(63, 125, 250); /* Bootstrap Blue */
  --secondary-color: #6c757d; /* Optional */
  --bodyBackground-color: #dfe1ff; /* Optional */
  --background-color: #ebebeb; /* Light Background */
  --white-color: #ffffff;
  --thirdMain-color: #2e8a00;
}
* {
  font-family: "Poppins", sans-serif;
}
body {
  height: 100dvh !important;
}
.modal-header .btn-close {
  filter: invert(1) !important;
}
.modal-header .btn-close:focus {
  box-shadow: none;
  outline: none;
}

.modal-header {
  background-color: var(--main-color);
  color: white;
}
/* text */
h1 {
  font-size: clamp(1.75rem, 4vw, 2.5rem) !important;
}

h2 {
  font-size: clamp(1.5rem, 3.5vw, 2.25rem) !important;
}

h3 {
  font-size: clamp(1.3rem, 3vw, 2rem) !important;
}

h4 {
  font-size: clamp(1.1rem, 2.2vw, 1.75rem) !important;
}

h5,
.iconFont,
.OTPContainer input[type="number"] {
  font-size: clamp(0.95rem, 2vw, 1.5rem) !important;
}

h6 {
  font-size: clamp(0.8rem, 1.8vw, 1.25rem) !important;
}

p,
label,
.form-select,
.form-control {
  font-size: clamp(0.75rem, 1.75vw, 1rem) !important;
}

/* button */
@media (max-width: 768px) {
  .scroll-container {
    max-height: 100vh !important;
  }
}
/* CUSTOM BUTTON */

.primaryButton {
  background-color: var(--main-color) !important;
  /* border-radius: 0.4rem; */
  color: #ffff !important;
  /* width: 10rem; */
  transition: 0.3s;
  border: none;
}
.primaryButton:hover {
  background-color: var(--main-color-hover);
}
.primaryButton:disabled {
  background-color: var(--main-color-disabled);
  cursor: not-allowed;
}

.btn-light {
  background-color: #ffffff !important;
}
.btn-light:hover {
  background-color: #c7c7c7 !important;
}
