@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

:root {
  --main-color: #001957f7;
  --secondMain-color: #e4b703fb;
  --primary-color: #007bff; /* Bootstrap Blue */
  --secondary-color: #6c757d; /* Optional */
  --background-color: #ebebeb; /* Light Background */
  --white-color: #ffffff;
}
