.p-list-group-items a {
  text-decoration: none;
  border-radius: 5px;
  padding: 8px;
}
.p-list-group-items {
  color: var(--secondMain-color);
  transition: 0.3s ease-in-out;
}

.p-list-group-items:hover {
  color: var(--secondMain-color);
  background-color: rgba(235, 235, 235, 0.19);
}

/* Active State Styling */
.p-list-group-items.active {
  background-color: var(--secondMain-color);
  font-weight: bold;
  border-radius: 5px;
  border-left: 4px solid var(--secondMain-color);
}
.p-list-group-items.active a i {
  color: var(--main-color);
  font-weight: bold;
}
.p-list-group-items.active p {
  color: var(--main-color);
}

.offcanvas-header .btn-close {
  filter: invert(1) !important;
}

.offcanvas-header .btn-close:hover {
  transform: scale(1.1);
}
.offcanvas-header .btn-close:focus {
  box-shadow: none;
  outline: none;
}
