@import url("./Imports.css");
* {
  font-family: "Poppins", sans-serif;
}
body {
  letter-spacing: 1.5px; /* Adds spacing */
}

.SideBar {
  background-color: #ffff;
  width: 3rem;
  height: 100vh;
  color: var(--secondary-color);
  transition: width 0.3s ease-in-out;
}
.SideBar img {
  transition: 0.5s;
}
.SideBar.toggled img {
  transition: 0.5s;
}

/* Apply animation to an element */
.fade-out {
  animation: fadeOut 0.3s ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Apply animation to an element */
.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.transition-icon {
  transition: transform 0.3s ease-in-out;
}

.SideBar.toggled {
  background-color: #ffff;
  width: 15rem;
  color: rgb(255, 255, 255);
  transition: 0.3s;
}

.SideBar.toggled h3 {
  display: block;
}
.SideBar h3 {
  display: none;
}

.sideBar-list li a {
  text-decoration: none;
  color: #ffff;
  font-size: 13px;
  display: flex;
  align-items: start;
  justify-content: start;
  padding-left: 10px;
}

.SideBar.toggled .listGroup li a {
  display: block;
  display: flex;
  align-items: center;
}
.listGroup li a p {
  display: none;
}

.SideBar.toggled li a p {
  display: block;
  color: var(--secondary-color);
  padding-left: 15px;
}
.listGroup li a i {
  display: block;
  margin: 0;
}

.list-group-items {
  margin-bottom: 20px;
  padding: 5px;
  background-color: #ffff;
}

.SideBar .list-group-items.active p {
  color: #007bff;
  font-weight: bold;
}

.SideBar .list-group-items:hover p {
  color: #007bff;
  font-weight: bold;
}

.SideBar .list-group-items.active i {
  color: #007bff;
  font-weight: bold;
}

.SideBar .list-group-items:hover i {
  color: #007bff;
  font-weight: bold;
}
.SideBar i {
  font-size: 25px;
  transition: 0.3s;
  color: var(--secondary-color);
  opacity: 1;
}

.SideBar.toggled i {
  opacity: 1;
}

/* Footer */
.footer p {
  display: none;
}

.footer.toggled p {
  display: block;
}
