@import url("./Imports.css");

.SideBar {
  background-color: #ffff;
  width: 4rem;
  height: 100vh;
  transition: width 0.3s ease-in-out;
}
.SideBar img {
  transition: 0.5s;
}
.SideBar.toggled img {
  transition: 0.5s;
}

/* Apply animation to an element */
.fade-out {
  animation: fadeOut 0.3s ease-in-out;
}

.transition-icon {
  transition: transform 0.3s ease-in-out;
}

.SideBar.toggled {
  background-color: #ffff;
  width: 17rem;
  color: rgb(255, 255, 255);
  transition: 0.3s;
}

.SideBar.toggled h3 {
  display: block;
}
.SideBar h3 {
  display: none;
}

.sideBar-list li a {
  text-decoration: none;
  font-size: 13px;
  display: flex;
  align-items: start;
  justify-content: start;
}

.SideBar.toggled .listGroup li a {
  display: block;
  display: flex;
  align-items: center;
}
.listGroup li a p {
  display: none;
}

.SideBar.toggled li a p {
  display: block;
  color: var(--background-color);
  align-items: center;
  padding: 7px;
}
.listGroup li a i {
  display: block;
  margin: 0;
}

.list-group-items {
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
}

/* active button */
.SideBar i {
  font-size: 1.5rem;
  transition: 0.3s;
  color: var(--background-color);
  opacity: 1;
  padding: 5px;
}

.SideBar.toggled i {
  opacity: 1;
}
.SideBar .list-group-items.active {
  background-color: white;
}

.SideBar .list-group-items.active p {
  color: var(--main-color);
  font-weight: bold;
}

.SideBar .list-group-items:hover p {
  color: var(--background-color);
}

.SideBar .list-group-items.active i {
  color: var(--main-color);
  font-weight: bold;
}

.SideBar .list-group-items:hover {
  color: var(--background-color);
  background-color: rgba(235, 235, 235, 0.19);
}

/* active icon*/
.SideBar .list-group-items.active:hover {
  background-color: var(--background-color);
}
.SideBar .list-group-items.active:hover p {
  color: var(--main-color);
  font-weight: bold;
}

.SideBar .list-group-items.active:hover i {
  color: var(--main-color);
  font-weight: bold;
}
/* Footer */
.footer p {
  display: none;
}

.footer.toggled p {
  display: block;
}
