@import url("./Imports.css");
* {
  font-family: "Poppins", sans-serif;
}
body {
  letter-spacing: 1.5px; /* Adds spacing */
}
.step {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.step.active {
  transform: scale(110%);
  border: none !important;
  box-shadow: 0 0 15px rgba(0, 187, 255, 0.979) !important;
}
.step.done {
  background-color: lightskyblue;
  color: #ffff;
}

/* RequestDocument */
