@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

:root {
  --primary-color: #007bff; /* Bootstrap Blue */
  --secondary-color: #6c757d; /* Optional */
  --background-color: #ffffff; /* Light Background */
}
* {
  font-family: "Poppins", sans-serif;
}
body {
  letter-spacing: 1.5px; /* Adds spacing */
}

/* RequestDocument */

.form-check {
  padding: 15px;
}

.Steps button {
  padding: 10px;
  /* color: #dcc600f7; */
}
