@import url("./Imports.css");

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  color: var(--bs-btn-active-color);
  background-color: var(--main-color);
  border-color: var(--bs-btn-active-border-color);
}

.step {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.step.active {
  transform: scale(110%);
  border: none !important;
  box-shadow: 0 0 15px rgba(0, 88, 183, 0.979) !important;
}
.step.current {
  background-color: var(--main-color);
  color: #ffff;
}

/* RequestDocument */

.custom-dropdown-toggle::after {
  display: none !important;
}

.container i {
  border-radius: 20px;
  background-color: var(--main-color);
  font-size: 50px;
  padding: 10px;
  color: var(--background-color);
}
.requestForm h6 {
  font-size: 0.7rem;
}


/* Preloader Container */
/* Preloader Container */
.preloader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 9999;
}

/* Animated Gates */
.gate {
  position: absolute;
  top: 0;
  width: 50vw; /* Ensure the gate covers half the screen */
  height: 100%;
  background: rgba(255, 255, 255, 0.76);
  backdrop-filter: blur(8px);
}

/* Positioning Gates */
.gate-left {
  left: 0;
}

.gate-right {
  right: 0;
}

/* Preloader Logo */
.preloader-logo {
  width: 150px;
  height: auto;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

/* about us */
.policy {
  background: url("/policy.png") no-repeat center center;
  background-size: cover;
  width: 100dvh;
}


/* Notification */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Very thin scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--main-color); /* Main theme color */
  border-radius: 4px;
}



/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Very thin scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--main-color); /* Main theme color */
  border-radius: 4px;
}


.card-hover {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-hover:hover {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
